<p id="notice"><%= notice %></p>


<%= button_to 'Refresh', airplanesrefresh_path, method: :post %>
<br><br>
<%= @lcdmessage[0] %><br>
<%= @lcdmessage[1] %>

<h1>Viewable</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Hex</th>
        <th>Sqawk</th>
        <th>Flight</th>
        <th>Lat</th>
        <th>Lon</th>

        <th>Altitude</th>
        <th>Vert rate</th>
        <th>Track</th>
        <th>Validtrack</th>
        <th>Speed</th>
        <th>Messages</th>
        <th>Seen</th>
        <th>Mlat</th>
        <th>range</th>

      </tr>
    </thead>

<%if @planesinview != nil %>
    <tbody>
      <% @planesinview.each do |airplane| %>
        <tr>
          <td><%= airplane.hex %></td>
          <td><%= airplane.sqawk %></td>
          <td><%= airplane.flight %></td>
          <td><%= airplane.lat %></td>
          <td><%= airplane.lon %></td>

          <td><%= airplane.altitude %></td>
          <td><%= airplane.vert_rate %></td>
          <td><%= airplane.track %></td>
          <td><%= airplane.validtrack %></td>
          <td><%= airplane.speed %></td>
          <td><%= airplane.messages %></td>
          <td><%= airplane.seen %></td>
          <td><%= airplane.mlat %></td>
          <td><%= airplane.range.round(1) %></td>

        </tr>
      <% end %>

    </tbody>
<%end%>
  </table>






<h1>Listing Airplanes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hex</th>
      <th>Sqawk</th>
      <th>Flight</th>
      <th>Lat</th>
      <th>Lon</th>

      <th>Altitude</th>
      <th>Vert rate</th>
      <th>Track</th>
      <th>Validtrack</th>
      <th>Speed</th>
      <th>Messages</th>
      <th>Seen</th>
      <th>Mlat</th>
      <th>range</th>

    </tr>
  </thead>

  <tbody>
    <% @airplanes.each do |airplane| %>
      <tr>
        <td><%= airplane.hex %></td>
        <td><%= airplane.sqawk %></td>
        <td><%= airplane.flight %></td>
        <td><%= airplane.lat %></td>
        <td><%= airplane.lon %></td>

        <td><%= airplane.altitude %></td>
        <td><%= airplane.vert_rate %></td>
        <td><%= airplane.track %></td>
        <td><%= airplane.validtrack %></td>
        <td><%= airplane.speed %></td>
        <td><%= airplane.messages %></td>
        <td><%= airplane.seen %></td>
        <td><%= airplane.mlat %></td>
        <td><%= airplane.range.round(1) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airplane', new_airplane_path %>
