<p id="notice"><%= notice %></p>

<p>
  <strong>Hex:</strong>
  <%= @airplane.hex %>
</p>

<p>
  <strong>Sqawk:</strong>
  <%= @airplane.sqawk %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @airplane.flight %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @airplane.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @airplane.lon %>
</p>

<p>
  <strong>Validposition:</strong>
  <%= @airplane.validposition %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @airplane.altitude %>
</p>

<p>
  <strong>Vert rate:</strong>
  <%= @airplane.vert_rate %>
</p>

<p>
  <strong>Track:</strong>
  <%= @airplane.track %>
</p>

<p>
  <strong>Validtrack:</strong>
  <%= @airplane.validtrack %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @airplane.speed %>
</p>

<p>
  <strong>Messages:</strong>
  <%= @airplane.messages %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @airplane.seen %>
</p>

<p>
  <strong>Mlat:</strong>
  <%= @airplane.mlat %>
</p>

<%= link_to 'Edit', edit_airplane_path(@airplane) %> |
<%= link_to 'Back', airplanes_path %>
