<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :use %><br>
    <%= f.check_box :use %>
  </div>

  <div class="field">
    <%= f.label :update_in_bg%><br>
    <%= f.check_box :update_in_bg %>
  </div>

  <div class="field">
    <%= f.label :refreshrate%><br>
    <%= f.number_field :refreshrate %>
  </div>

  <div class="field">
    <%= f.label :dump1090url %><br>
    <%= f.text_field :dump1090url %>
  </div>


  <div class="field">
    <%= f.label :originlat %><br>
    <%= f.text_field :originlat %>
  </div>
  <div class="field">
    <%= f.label :originlon %><br>
    <%= f.text_field :originlon  %>
  </div>

  <div class="field">
    <%= f.label :rightlat %><br>
    <%= f.text_field :rightlat %>
  </div>
  <div class="field">
    <%= f.label :rightlon %><br>
    <%= f.text_field :rightlon  %>
  </div>

  <div class="field">
    <%= f.label :leftlat %><br>
    <%= f.text_field :leftlat %>
  </div>
  <div class="field">
    <%= f.label :farleftlon %><br>
    <%= f.text_field :leftlon  %>
  </div>

  <div class="field">
    <%= f.label :farrightlat %><br>
    <%= f.text_field :farrightlat %>
  </div>
  <div class="field">
    <%= f.label :farrightlon %><br>
    <%= f.text_field :farrightlon  %>
  </div>

  <div class="field">
    <%= f.label :farleftlat %><br>
    <%= f.text_field :farleftlat %>
  </div>
  <div class="field">
    <%= f.label :farleftlon %><br>
    <%= f.text_field :farleftlon  %>
  </div>

  <div class="field">
    <%= f.label :cloudceiling %><br>
    <%= f.text_field :cloudceiling %>
  </div>
  <div class="field">
    <%= f.label :sunset %><br>
    <%= f.text_field :sunset %>
  </div>
  <div class="field">
    <%= f.label :sunrise %><br>
    <%= f.text_field :sunrise %>
  </div>
  <div class="field">
    <%= f.label :dayrange %><br>
    <%= f.text_field :dayrange %>
  </div>
  <div class="field">
    <%= f.label :nightrange %><br>
    <%= f.text_field :nightrange %>
  </div>

<h2> Use Flight Aware</h2>

<div class="field">
  <%= f.label :use_flightaware_api%><br>
  <%= f.check_box :use_flightaware_api %>
</div>
  <div class="field">
    <%= f.label :fa_starttime %><br>
    <%= f.time_field :fa_starttime %>
  </div>
  <div class="field">
    <%= f.label :fa_stoptime %><br>
    <%= f.time_field :fa_stoptime %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
